<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>Document</title>

</head>

<body >
<div class="logo">
    <img src="/logo.png">
</div>

<div class="form"  style="background-color:lightgray" >

    <form  action="/user/confirmPage" method="GET">

        <div>
             New password :
        </div>
        <div>
            <input type="text" name="email" style="display:none" th:value="${email}">
            <input type="text"  name="new" id="new">
        </div>
        <div>
            Confirm password :
        </div>
        <div>
            <input type="text"  name="password" id="password">
        </div>
        <div class="signup">

            <button id="submit-btn1" onclick="validate()" type="submit">submit</button>
        </div>

    </form>



</div>
<script>
    console.log(
    function validate(){
        let a=document.getElementById("new").value;
        let b=document.getElementById("password").value;
<!--        console.log(a+" "+b);-->
        if(a!==b){
          window.alert("type correct password");
        }
    }
</script>


</body>
</html>