<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>Document</title>

</head>

<body >
<div class="logo">
    <img src="/logo.png">
</div>
<div class="login">

</div>
<div class="form"  style="background-color:lightgray" >

    <form  action="" method="POST">

        <div>
             New password :
        </div>
        <div>
            <input type="text"  name="new">
        </div>
        <div>
            Confirm password :
        </div>
        <div>
            <input type="text"  name="new">
        </div>


    </form>
    <div class="signup">

        <a id="submit-btn1" th:href="@{/user/login}">submit</a>
    </div>


</div>



</body>
</html>