<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/login.css">
  <title>Document</title>

</head>

<body >
<div class="logo">
  <img src="/logo.png">
</div>



  <form action="/user/forget/{emailId}" method="post">

    <div>
     Enter your email :
    </div>
    <div>
      <input type="email" id="email_Id" name="emailId"/>
    </div>
    <div class="signup">
      <button id="submit-btn1" type="submit">submit</button>
    </div>


  </form>





</body>
</html>