<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/c0f2207099.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/form.css">

    <title>Document</title>

</head>
<body>
<div id="table" class="table">

    <div class="table-title">
        <div class="front">
            <img id="img" src="/logo.png" />
            <div class="">
                <h2 id="user">User Details</h2>
            </div>
            <div class="Addbtn">
<!--                <button  onclick="handleAddBtn()"><i class='fa-solid fa-user-plus fa-xl'></i></button>-->
                <button id="add-btn" class="add" onclick="handleAddBtn()">Add</button>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Phone No</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo : ${userList}">
            <td th:text="${todo.firstName}"></td>
            <td th:text="${todo.lastName}"></td>
            <td th:text="${todo.email}"></td>
            <td th:text="${todo.dateOfBirth}"></td>
            <td th:text="${todo.phoneNo}"></td>
            <td th:text="${todo.address}"></td>
            <td style="display:flex; column-gap:6px;">
                <button onclick="handleEditRow(this)"><i class="fa-regular fa-pen-to-square fa-xl"></i></button>
                <form id="deleteForm" th:action="@{/user/deleteUser/{email_Id}(email_Id=${todo.email})}" method="post">
                </form>
                <button type="submit" onclick="deleteHandle()"><i class="fa-sharp fa-solid fa-trash fa-xl"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="container" class="container">
    <form id="userForm" class="form" action="/user/createUser" method="POST">
        <h4 class="form-title" id="form-title">Add Employee</h4>
        <div class="form-body">
            <div class="form-input">
                <label >First Name</label>
                <input onchange="validatefname(this)" type="text" id="firstName" name="firstName" required/></button>
            </div>
            <div class="form-input">
                <label>Last Name</label>
                <input onchange="validatelname(this)" type="text" id="lastName" name="lastName" required>
            </div>
            <div class="form-input">
                <label>Email</label>
                <input onchange="validateemail(this)" type="email" id="email" name="email" required >
            </div>
            <div class="form-input">
                <label>Phone No</label>
                <input onchange="validatephoneno(this)" type="text" id="phoneNo" name="phoneNo" maxlength="10" required>
            </div>
            <div class="form-input">
                <label>Address</label>
                <textarea onchange="validateaddress(this)" id="address" name="address" maxlength="50" required></textarea>
            </div>
            <div class="form-input dob">
                <label>Date of Birth</label>
                <input onclick="limitDate()" onblur="validateDate(this)" type="date" id="dateOfBirth" name="dateOfBirth" required>
            </div>
<!--            <div class="form-input dob">-->
<!--                <label>Password</label>-->
<!--                <input onclick="" onblur="" type="text" id="password" name="password" required>-->
<!--            </div>-->
            <div class="submit-btn">
                <button type="button" id="sbtn" onclick="added()">Submit</button>
                <button type="reset" onclick="reset1()">Cancel</button>
            </div>


        </div>

    </form>
</div>
<script src="/form.js"></script>
<script src="/test.js"></script>

</body>
</html>




